.App {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
  background-color: navy;
  border-radius: 25px;

}

.flex {
  display: flex;
  flex-direction: row;
}

.pl-20 {
  padding-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.p-20 {
  padding: 20px;
}

input {
  border-bottom-style: groove;
  background-color: #35c0f8;
}

.button {
  background-color: #00ff2a;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: #3b00a2;
  cursor: pointer;
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 3px 15px;
  position: relative;
  text-align: center;
  width: auto;
  margin-left: 20px;
}

.card {
  color: "white";
  border-radius: 25px;
  background: linear-gradient(
    to left,
    #007177,
    #58ef6f,
    #35c0f8
  );
}